
{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit" class="btn btn-primary">Recherche</button>
{{ form_end(form) }}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });
        });
    </script>
{% endblock javascripts %}