{% extends 'layeout.html.twig' %}

{% block title %}
    Nouveau mot de passe
{% endblock %}

{% block main %}
    <h1>Réinitialisation du mot de passe</h1>
    <p>Veuillez entrer votre nouveau mot de passe ci-dessous.</p>
    <form method="POST">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Mot de passe" required>
        <input type="hidden" name="token" value="{{ token }}">
        <button type="submit" id="valider">
            Valider le mot de passe
        </button>
    </form>
{% endblock %}

